body{
box-sizing: border-box;
background-color: #282c35;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

html {
scroll-behavior: smooth;
}

/*
Colors
#282c35
#4b4f5b
#22262f
#ba9873
#da727d
#a6aab3
#9fbb8a
*/

hr{
visibility: hidden;
margin: 0;
height: 0;
width: 0;
}

header{
position: fixed;
display: flex;
width: 100%;
height: 50px;
top: 0;
left: 0;
align-items: center;
justify-content: center;
z-index: 3;
box-shadow: 0px -10px 35px 15px #4b4f5b;
}

.head_back{
position: absolute;
display: flex;
top: 0;
left: 0;
width: 100%;
height: 50px;
background-color: #282c35;
/*
Сделать размытие
*/
z-index: 2;
}

.head{
display: flex;
width: 76%;
height: 50px;
flex-wrap: nowrap;
justify-content: space-between;
z-index: 3;
}

.head_block{
display: flex;
width: 30%;
/*border: 1px solid red;*/
align-items: center;

}

.head_block1{
display: flex;
width: 440px;
flex-wrap: nowrap;
justify-content: space-between;
/*border: 1px solid red;*/
}

.head_block2{
display: flex;
width: 30%;
align-items: center;
justify-content: flex-end;
/*border: 1px solid red;*/
}

.fox_icon{
display: block;
width: 40px;
height: 40px;
margin-left: 10px;
background-image: url("../images/fox_icon.png");
background-size: cover;
}

.name{
display: flex;
align-items: center;
justify-content: center;
margin-left: 10px;
}

.name a{
position: relative;
color: #d8dce7;
text-decoration: none;
font-size: 32px;
cursor: pointer;
transition: 1s;
}

.name a:hover,
.btn_work a:hover,
.btn_about a:hover,
.btn_contact a:hover,
.btn_skills a:hover{
color: #eff4ff;
}

.name a:after,
.btn_work a:after,
.btn_about a:after,
.btn_contact a:after,
.btn_skills a:after{
  display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #FFB160; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.name a:hover:after,
.name a:focus:after,
.btn_work a:hover:after,
.btn_about a:hover:after,
.btn_contact a:hover:after,
.btn_skills a:hover:after,
.btn_work a:focus:after,
.btn_about a:focus:after,
.btn_contact a:focus:after,
.btn_skills a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.btn_work,
.btn_about,
.btn_contact,
.btn_skills{
display: flex;
width: 25%;
align-items: center;
justify-content: center;
}

.btn_work a,
.btn_about a,
.btn_contact a,
.btn_skills a{
position: relative;
width: 100%;
color: #d8dce7;
font-size: 24px;
text-decoration: none;
text-align: center;
cursor: pointer;
transition: 1s;
}

.icon_git{
position: relative;
display: inline-block;
margin-right: 15px;
height: 28px;
width: 28px;
background-image: url("../images/git-icon.png");
background-size: cover;
transition: 1.5s;
}

.icon_dis{
position: relative;
display: inline-block;
margin-right: 15px;
height: 28px;
width: 28px;
background-image: url("../images/dis-icon.png");
background-size: cover;
transition: 1.5s;
}

.icon_tel{
position: relative;
display: inline-block;
margin-right: 15px;
height: 28px;
width: 28px;
background-image: url("../images/tg-icon.png");
background-size: cover;
transition: 1.5s;
}

.icon_ema{
position: relative;
display: inline-block;
margin-right: 0px;
height: 28px;
width: 28px;
background-image: url("../images/ema-icon.png");
background-size: cover;
transition: 1.5s;
}

.icon_git a,
.icon_dis a,
.icon_tel a,
.icon_ema a{
position: absolute;
width: 100%;
height: 100%;
cursor: pointer;
/*border: 1px solid gold;*/
}

.icon_git:hover{
background-image: url("../images/git1-icon.png");
}

.icon_dis:hover{
background-image: url("../images/dis1-icon.png");
}

.icon_tel:hover{
background-image: url("../images/tg1-icon.png");
}

.icon_ema:hover{
background-image: url("../images/ema1-icon.png");
}

.wrapper2{
position: absolute;
display: block;
top: 0;
width: 76%;
height: 100%;
}

.desc{
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 32px 10px 48px 10px;
box-sizing: border-box;
width: 100%;
height: 100%;
}

.desc_text{
display: flex;
position: relative;
width: 60%;
height: 100%;
align-items: center;
justify-content: center;
box-sizing: border-box;
}

.desc_block_text{
width: 100%;
height: 50%;
}

.desc_block_text h1{
font-size: 38px;
color: #FFB160;
}

.desc_block_text p{
padding: 24px 190px 32px 0;
line-height: 32px;
font-size: 22px;
color: #d8dce7;
}

.btn_get{
position: relative;
display: block;
top: 50px;
margin-left: 15px;
width: 180px;
height: 56px;
z-index: 2;
transition: 0.5s;
}

.btn_get:hover{
margin-left: 5px;
top: 60px;
}

.btn_get a{
display: flex;
position: absolute;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
text-decoration: none;
background-color: #FFB160;
font-size: 21px;
color: #22262f;
}

.btn_get_shadow{
display: block;
position: absolute;
margin-left: 0px;
margin-top: 10px;
width: 180px;
height: 56px;
background-color: #22262f;
z-index: 1;
}

.desc_img{
display: flex;
position: relative;
align-items: center;
justify-content: center;
width: 40%;
height: 100%;
box-sizing:border-box;
}

.desc_img_Jeka8833{
display: block;
position: relative;
width: 320px;
height: 320px;
background-image: url("../images/desc_img.png");
background-size: cover;
background-color: #22262f;
border: 15px solid #4b4f5b;
border-radius: 50%;
}

.skills{
position: relative;
display: flex;
flex-direction: column;
width: 100%;
padding: 32px 10px 48px 10px;
box-sizing: border-box;
}

.skills .row{
position: relative;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 16px 0 32px;
width: 100%;
border: 1px solid red;
}

.skills h1{
font-size: 32px;
color: #FFB160;
}

.skills_text{
display: block;
width: 500px;
height: 360px;
padding: 0 10px;
box-sizing: border-box;
font-size: 18px;
color: #d8dce7;
}

.diag{
position: relative;
display: flex;
align-items: flex-end;
justify-content: flex-end;
flex-direction: column;
width: 500px;
height: 340px;
box-sizing: border-box;
border-bottom: 7px solid #22262f;
}

.diag_line{
display: flex;
width: 100%;
height: 75px;
z-index: 1;
box-sizing: border-box;
border-top: 2px dashed #fff;
}

.l_text{
display: block;
position: absolute;
margin-top: -12.5px;
color: #d8dce7;
}

.l_text1{
right: -46px;
}

.l_text2{
right: -66px;
}

.l_text3{
right: -54px;
}

.l_text4{
right: -60px;
}

.diag_inner{
position: absolute;
display: flex;
width: 100%;
height: 100%;
align-items: flex-end;
justify-content: space-between;
}

.d_block1,
.d_block2,
.d_block3,
.d_block4,
.d_block5{
display: flex;
box-sizing: border-box;
padding: 4px 4px 0;
align-items: center;
justify-content: center;
-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
z-index: 2;
}

.d_block1{
width: 60px;
height: 240px;
background-color: #68b3b6;
}

.d_block2{
width: 60px;
height: 190px;
background-color: #9fbb8a;
}

.d_block3{
width: 60px;
height: 160px;
background-color: #FFB160;
}

.d_block4{
width: 60px;
height: 80px;
background-color: #ba9873;
}

.d_block5{
width: 60px;
height: 270px;
background-color: #da727d;
}

.bor_block{
display: block;
width: 100%;
height: 100%;
box-sizing: border-box;
border: 2px dashed #d8dce7;
border-bottom: none;
}

.d_text{
position: absolute;
color: #d8dce7;
}

.d_block1 .d_text{
margin-top: 270px;
}

.d_block2 .d_text{
margin-top: 220px;
}

.d_block3 .d_text{
margin-top: 190px;
}

.d_block4 .d_text{
margin-top: 110px;
}

.d_block5 .d_text{
margin-top: 300px;
}

.works{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
padding: 32px 10px 48px 10px;
box-sizing: border-box;
}

.works h1{
font-size: 32px;
text-align: center;
color: #FFB160;
}

.works p{
font-size: 18px;
text-align: justify;
color: #d8dce7;
}

.works .row{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 16px 0 32px;
  width: 100%;
  border: 1px solid red;
}

.block_work{
position: flex;
display: block;
width: 600px;
height: 400px;
margin-right: 10px;
background-position: center;
background-image: url("../images/project1.jpg");
background-size: cover;
background-repeat: no-repeat;
border: 1px solid red;
}

.text_work{
position: flex;
display: block;
margin-left: 10px;
padding: 10px;
width: 360px;
height: 400px;
box-sizing: border-box;
border: 1px solid red;
}

.btn_see{
position: relative;
display: flex;
margin-top: 10px;
width: 180px;
height: 56px;
transition: 1s;
box-sizing: border-box;
}

.btn_see a:hover{
background-color: #FFB160;
color: #d8dce7;
}

.btn_see a{
display: flex;
position: absolute;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
text-decoration: none;
background-color: #22262f;
font-size: 21px;
color: #d8dce7;
transition: 1s;
}

.about{
position: relative;
display: flex;
flex-direction: column;
width: 100%;
padding: 32px 10px 48px 10px;
box-sizing: border-box;
border: 1px solid #fff;
}

.about .row{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 32px;
  width: 100%;
  border: 1px solid red;
}

.about h1{
font-size: 32px;
color: #FFB160;
}

.about p{
font-size: 22px;
color: #d8dce7;
}

.about_text{
display: block;
width: 900px;
border: 1px solid red;
}

.contact{
position: relative;
display: flex;
flex-direction: column;
width: 100%;
padding: 32px 10px 48px 10px;
box-sizing: border-box;
border: 1px solid #fff;
}

.contact h1{
font-size: 32px;
color: #FFB160;
}

.contact .row{
position: relative;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 16px 0 32px;
width: 100%;
border: 1px solid red;
}

.contact_block{
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 10px 0;
width: 320px;
height: 400px;
box-sizing: border-box;
border: 1px solid red;
}

.contact_git{
display: block;
width: 64px;
height: 64px;
background-image: url("../images/git-icon.png");
background-repeat: no-repeat;
background-size: cover;
}

.contact_dis{
display: block;
width: 64px;
height: 64px;
background-image: url("../images/dis-icon.png");
background-repeat: no-repeat;
background-size: cover;
}

.contact_tel{
display: block;
width: 64px;
height: 64px;
background-image: url("../images/tg-icon.png");
background-repeat: no-repeat;
background-size: cover;
}

.contact_ema{
display: block;
width: 64px;
height: 64px;
background-image: url("../images/ema-icon.png");
background-repeat: no-repeat;
background-size: cover;
}
