@font-face{
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
}

body{
box-sizing: border-box;
background-color: #282c35;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'Lato', sans-serif;
}

html {
scroll-behavior: smooth;
}

hr{
visibility: hidden;
margin: 0;
height: 0;
width: 0;
}

.wrapper2{
position: absolute;
display: block;
top: 0;
width: 76%;
height: 100%;
}
