@font-face{
font-family: 'Lato';
src: url(fonts/Lato-Regular.ttf);
}

body{
box-sizing: border-box;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #282c35;
font-family: 'Lato', sans-serif;
}

html {
scroll-behavior: smooth;
}

hr{
visibility: hidden;
height: 0;
width: 0;
margin: 0;
}

.wrapper2{
position: absolute;
display: block;
width: 76%;
top: 0;
}

.shadow{
position: fixed;
display: flex;
width: 100%;
min-height: 100%;
top: 0;
left: 0;
align-items: center;
justify-content: center;
z-index: 1;
}

.shadow_inner{
position: absolute;
display: flex;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #000;
opacity: 0.4;
}

.con_form{
position: relative;
display: flex;
width: 300px;
height: 400px;
background-color: #fff;
border: 1px solid red;
}

.off{
display: none;
}

.i_max{
z-index: 4;
}
