header{
position: fixed;
display: flex;
width: 100%;
height: 50px;
top: 0;
left: 0;
align-items: center;
justify-content: center;
box-shadow: 0px -10px 35px 15px #4b4f5b;
z-index: 3;
}

.head_back{
position: absolute;
display: flex;
width: 100%;
height: 50px;
top: 0;
left: 0;
background-color: #282c35;
z-index: 2;
}

.head{
position: relative;
display: flex;
width: 76%;
height: 50px;
flex-wrap: nowrap;
justify-content: space-between;
z-index: 3;
}

.head_block{
display: flex;
width: 30%;
align-items: center;
}

.head_block1{
display: flex;
width: 440px;
flex-wrap: nowrap;
justify-content: space-between;
}

.head_block2{
display: flex;
width: 30%;
align-items: center;
justify-content: flex-end;
}

.fox_icon{
display: flex;
width: 40px;
height: 40px;
margin-left: 10px;
background-image: url("../images/fox_icon.png");
background-size: cover;
}

.menu-icon,
.menu-icon1{
display: none;
}

#menu_btn{

}

#menu{

}

.off{
display: none;
}

.menu-list{
position: fixed;
display: flex;
width: 100%;
top: 49px;
right: 0;
flex-direction: column;
border-bottom: 1px solid #4b4f5b;
background-color: #282c35;
}

.menu-list .btn_skills,
.menu-list .btn_work,
.menu-list .btn_about,
.menu-list .btn_contact{
width: 100%;
margin-top: 10px;
}

.menu-list .btn_contact{
margin-bottom: 10px;
}

.name{
display: flex;
margin-left: 10px;
align-items: center;
justify-content: center;
}

.name a{
position: relative;
color: #d8dce7;
text-decoration: none;
font-size: 3.2rem;
cursor: pointer;
transition: 1s;
}

.name a:hover,
.btn_work a:hover,
.btn_about a:hover,
.btn_contact a:hover,
.btn_skills a:hover{
color: #eff4ff;
}

.name a:after,
.btn_work a:after,
.btn_about a:after,
.btn_contact a:after,
.btn_skills a:after{
display: block;
position: absolute;
height: 2px;
left: 0;
width: 0;
background-color: #FFB160;
content: "";
transition: width 0.3s ease-out;
}

.name a:hover:after,
.name a:focus:after,
.btn_work a:hover:after,
.btn_about a:hover:after,
.btn_contact a:hover:after,
.btn_skills a:hover:after,
.btn_work a:focus:after,
.btn_about a:focus:after,
.btn_contact a:focus:after,
.btn_skills a:focus:after {
width: 100%;
}

.btn_work,
.btn_about,
.btn_contact,
.btn_skills{
display: flex;
width: 25%;
align-items: center;
justify-content: center;
}

.btn_work a,
.btn_about a,
.btn_contact a,
.btn_skills a{
position: relative;
width: 100%;
color: #d8dce7;
font-size: 2.4rem;
text-decoration: none;
text-align: center;
cursor: pointer;
transition: 1s;
}

.icon_git,
.icon_dis,
.icon_tel,
.icon_ema{
position: relative;
display: inline-block;
height: 28px;
width: 28px;
background-size: cover;
transition: 1.5s;
}

.icon_git{
margin-right: 15px;
background-image: url("../images/git-icon.svg");
}

.icon_dis{
margin-right: 15px;
background-image: url("../images/dis-icon.svg");
}

.icon_tel{
margin-right: 15px;
background-image: url("../images/tg-icon.svg");
}

.icon_ema{
margin-right: 0px;
background-image: url("../images/ema-icon.svg");
}

.icon_git a,
.icon_dis a,
.icon_tel a,
.icon_ema a{
position: absolute;
width: 100%;
height: 100%;
cursor: pointer;
}

.icon_git:hover{
background-image: url("../images/git1-icon.svg");
}

.icon_dis:hover{
background-image: url("../images/dis1-icon.svg");
}

.icon_tel:hover{
background-image: url("../images/tg1-icon.svg");
}

.icon_ema:hover{
background-image: url("../images/ema1-icon.svg");
}
