
@media screen and (max-width: 300px){

.diag{
top: 100px;
}

}



@media screen and (max-width: 340px) and (min-width: 300px){

.about_image_Jeka8833{
top: 80px;
}

}

@media screen and (max-width: 400px){

html{
font-size: 7px;
}

/*
HEADER
*/

.head_block{
width: 100%;
}

.head_block1,
.head_block2{
display: none;
}

.head{
justify-content: center;
align-items: center;
}

.fox_icon{
margin-left: 0;
}

.name{
margin-left: 0;
}

.menu-icon{
display: flex;
margin-left: auto;
width: 48px;
height: 48px;
align-items: center;
justify-content: center;
}

.menu-icon a{
width: 100%;
height: 100%;
background-image: url("../images/menu-icon.png");
background-repeat: no-repeat;
background-size: cover;
transition: 1s;
}

.menu-icon a:hover{
background-image: url("../images/menu1-icon.png");
}

.wrapper2{
width: 100%;
}

/*
DESCRIPTION
*/

.desc{
width: 100%;
flex-direction: column;
}

.desc_text{
width: 100%;
}

.desc_text p {
width: 100%;
padding: 0;
font-size: 2.3rem;
}

.desc_img{
width: 100%;
}

.desc_img_Jeka8833{
width: 240px;
height: 240px;
}

.btn_get_shadow{
display: none;
}

.btn_get{
display: none;
}

.btn_get1{
position: relative;
display: block;
margin: auto;
width: 160px;
height: 56px;
}

.btn_get1 a{
display: flex;
position: absolute;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
text-decoration: none;
font-size: 2.3rem;
background-color: #FFB160;
color: #22262f;
transition: 1s;
}

.btn_get1 a:hover{
background-color: #FFB160;
color: #eff4ff;
-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

/*
SKILLS
*/

.skills .row{
flex-direction: column;
}

.skills_text{
width: 100%;
height: 350px;
font-size: 2.3rem;
}

.diag{
width: 75%;
height: 350px;
}

.diag_line{
height: 38px;
}

.l_text1{
right: -34px;
}

.l_text2{
right: -49px;
}

.l_text3{
right: -42px;
}

.l_text4{
right: -45px;
}

.d_block1{
width: 30px;
height: 120px;
}

.d_block2{
width: 30px;
height: 95px;
}

.d_block3{
width: 30px;
height: 80px;
}

.d_block4{
width: 30px;
height: 40px;
}

.d_block5{
width: 30px;
height: 135px
}

.d_block1 .d_text{
margin-top: 160px;
}

.d_block2 .d_text{
margin-top: 135px;
}

.d_block3 .d_text{
margin-top: 120px;
}

.d_block4 .d_text{
margin-top: 80px;
}

.d_block5 .d_text{
margin-top: 175px;
}

/*
WORKS
*/

.works .row{
width: 100%;
flex-direction: column;
padding: 0 0 0;
}

.block_work{
width: 100%;
height: 60vw;
margin-right: 0;
}

.text_work{
width: 100%;
height: 100%;
}

.text_work p{
font-size: 2.3rem;
}

.btn_see a{
font-size: 2.3rem;
}

/*
ABOUT
*/

.about .row{
flex-direction: column;
}

.about_text{
width: 90%;
text-align: justify;
}

.about_image{
width: 90%;
justify-content: center;
align-items: center;
}

.about_text p {
font-size: 2.3rem;
}

.about_image_Jeka8833{
width: 200px;
height: 200px;
}

/*
CONTACTS
*/

.contact_block{
width: 95%;
}

.contact_block p{
font-size: 2.1rem;
}

.btn_con a{
font-size: 2.3rem;
}

}

@media screen and (min-width: 400px) and (max-width: 600px){

  html{
  font-size: 8.5px;
  }

  /*
  HEADER
  */

  .head_block{
  width: 100%;
  }

  .head_block1,
  .head_block2{
  display: none;
  }

  .head{
  justify-content: center;
  align-items: center;
  }

  .fox_icon{
  margin-left: 0;
  }

  .name{
  margin-left: 0;
  }

  .menu-icon{
  display: flex;
  margin-left: auto;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  }

  .menu-icon a{
  width: 100%;
  height: 100%;
  background-image: url("../images/menu-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  }

  .menu-icon a:hover{
  background-image: url("../images/menu1-icon.png");
  }

  /*
  DESCRIPTION
  */

  .wrapper2{
  width: 100%;
  }

  .desc{
  width: 100%;
  flex-direction: column;
  }

  .desc_text{
  width: 100%;
  }

  .desc_text p {
  width: 100%;
  padding: 0;
  font-size: 2.3rem;
  }

  .desc_img{
  width: 100%;
  }

  .desc_img_Jeka8833{
  width: 240px;
  height: 240px;
  }

  .btn_get_shadow{
  display: none;
  }

  .btn_get{
  display: none;
  }

  .btn_get1{
  position: relative;
  display: block;
  top: -30px;
  margin:auto;
  width: 160px;
  height: 56px;
  }

  .btn_get1 a{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
  background-color: #FFB160;
  color: #22262f;
  transition: 1s;
  }

  .btn_get1 a:hover{
  background-color: #FFB160;
  color: #eff4ff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  }

/*
SKILLS
*/

.skills{
padding-bottom: 0;
}

.skills .row{
flex-direction: column;
padding-bottom: 0;
}

.skills_text{
width: 100%;
height: 600px;
font-size: 2.3rem;
}

.diag{
width: 70%;
height: 320px;
top: -100px;
}

.diag_line{
height: 55px;
}

.l_text,
.d_text{
font-size: 1.6rem;
}

.l_text1{
right: -45px;
}

.l_text2{
right: -64px;
}

.l_text3{
right: -54px;
}

.l_text4{
right: -58px;
}

.d_block1{
width: 45px;
height: 180px;
}

.d_block2{
width: 45px;
height: 145px;
}

.d_block3{
width: 45px;
height: 120px;
}

.d_block4{
width: 45px;
height: 60px;
}

.d_block5{
width: 45px;
height: 195px
}

.d_block1 .d_text{
margin-top: 220px;
}

.d_block2 .d_text{
margin-top: 185px;
}

.d_block3 .d_text{
margin-top: 160px;
}

.d_block4 .d_text{
margin-top: 100px;
}

.d_block5 .d_text{
margin-top: 235px;
}

/*
WORKS
*/

.works .row{
width: 100%;
flex-direction: column;
padding: 0 0 0;
}

.block_work{
width: 100%;
height: 60vw;
}

.text_work{
width: 100%;
height: 100%;
}

.text_work p{
font-size: 2.3rem;
}

.btn_see a{
font-size: 2.3rem;
}

/*
ABOUT
*/

.about .row{
flex-direction: column;
}

.about_text{
height: 600px;
text-align: justify;
}

.about_image{
width: 100%;
height: 300px;
justify-content: center;
align-items: center;
}

.about_text p {
font-size: 2.3rem;
}

.about_image_Jeka8833{
top: 140px;
width: 240px;
height: 240px;
}

/*
CONTACTS
*/

.contact_block{
width: 360px;
height: 500px;
}

.contact_block p{
font-size: 2.3rem;
}

.btn_con a{
font-size: 2.3rem;
}

}

@media screen and (min-width: 500px) and (max-width: 600px){

.about_image_Jeka8833{
top: 15px;
}

}

@media screen and (min-width: 600px) and (max-width: 900px){

html{
font-size: 9px;
}

/*
HEADER
*/

.head{
justify-content: flex-start;
}

.head_block{
width: 40%;
}

.head_block1{
display: none;
}

.head_block2{
width: 40%;
}

.menu-icon1{
  display: flex;
  margin-left: auto;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.menu-icon1 a{
  width: 100%;
  height: 100%;
  background-image: url("../images/menu-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}

.menu-icon1 a:hover{
background-image: url("../images/menu1-icon.png");
}

.wrapper2{
width: 90%;
}

.desc_block_text{
height: 400px;
}

.desc_block_text p{
width: 90%;
font-size: 2.8rem;
}

.desc_img{
height: 400px;
align-items: center;
justify-content: center;
}

.desc_img_Jeka8833{
width: 250px;
height: 250px;
}

.btn_get a{
font-size: 2.5rem;
}

/*
SKILLS
*/

.skills{
top: 50px;
}

.skills .row{
flex-direction: column;
}

.skills_text{
width: 100%;
height: 600px;
font-size: 2.8rem;
}

.diag{
width: 70%;
height: 450px;
top: -50px;
}

.diag_line{
height: 55px;
}

.l_text,
.d_text{
font-size: 2.3rem;
}

.l_text1{
right: -67px;
}

.l_text2{
right: -96px;
}

.l_text3{
right: -80px;
}

.l_text4{
right: -86px;
}

.d_block1{
width: 45px;
height: 180px;
}

.d_block2{
width: 45px;
height: 145px;
}

.d_block3{
width: 45px;
height: 120px;
}

.d_block4{
width: 45px;
height: 60px;
}

.d_block5{
width: 45px;
height: 195px
}

.d_block1 .d_text{
margin-top: 220px;
}

.d_block2 .d_text{
margin-top: 185px;
}

.d_block3 .d_text{
margin-top: 160px;
}

.d_block4 .d_text{
margin-top: 100px;
}

.d_block5 .d_text{
margin-top: 235px;
}

/*
WORKS
*/

.block_work{
width: 85%;
height: 45vw;
}

.text_work{
height: 530px;
}

.text_work p{
font-size: 2.3rem;
}

.btn_see{
margin-top: 40px;
}

.btn_see a{
width: 220px;
height: 76px;
font-size: 2.5rem;
}

/*
ABOUT
*/

.about_text p{
font-size: 2.3rem;
}

.about_image{
width: 260px;
height: 600px;
justify-content: center;
align-items: center;
}

/*
CONTACTS
*/

.contact{
top: 270px;
}

.contact_block{
width: 70%;
height: 500px;
}

.contact_block p{
font-size: 2.3rem;
}

.btn_con a{
font-size: 2.3rem;
}

}

@media screen and (min-width: 700px) and (max-width: 900px){

  .contact{
  top: 70px;
  }

  .contact_block{
  width: 49%;
  height: 520px;
  }

  .contact_block p{
  font-size: 2.3rem;
  }

  .btn_con a{
  font-size: 2.3rem;
  }

}

@media screen and (min-width: 900px) and (max-width: 1024px){

html{
font-size: 10px;
}

/*
HEADER
*/

.head_block1{
width: 400px;
}

/*
DESCRIPTION
*/
.desc_block_text{
height: 400px;
}

.desc_block_text p{
width: 90%;
font-size: 2.5rem;
}

.desc_img{
height: 400px;
align-items: center;
justify-content: center;
}

.desc_img_Jeka8833{
width: 260px;
height: 260px;
}

.btn_get a{
font-size: 2.5rem;
}

/*
SKILLS
*/

.skills{
top: 60px;
}

.skills .row{
flex-direction: column;
padding-bottom: 56px;
}

.skills_text{
width: 100%;
height: 600px;
font-size: 2.5rem;
}

.diag{
width: 70%;
height: 400px;
top: 50px;
}

.diag_line{
height: 75px;
}

.l_text,
.d_text{
font-size: 2.4rem;
}

.l_text1{
right: -81px;
}

.l_text2{
right: -115px;
}

.l_text3{
right: -97px;
}

.l_text4{
right: -104px;
}

.d_block1{
width: 60px;
height: 240px;
}

.d_block2{
width: 60px;
height: 190px;
}

.d_block3{
width: 60px;
height: 160px;
}

.d_block4{
width: 60px;
height: 80px;
}

.d_block5{
width: 60px;
height: 270px;
}

.d_block1 .d_text{
margin-top: 300px;
}

.d_block2 .d_text{
margin-top: 250px;
}

.d_block3 .d_text{
margin-top: 220px;
}

.d_block4 .d_text{
margin-top: 140px;
}

.d_block5 .d_text{
margin-top: 330px;
}

/*
WORKS
*/

.works .row{
flex-direction: column;
}

.block_work{
width: 100%;
height: 45vw;
}

.text_work{
width: 95%;
}

.text_work p{
font-size: 2.5rem;
}

.btn_see{
margin-top: 40px;
}

.btn_see a{
width: 220px;
height: 76px;
font-size: 2.5rem;
}

/*
ABOUT
*/

.about_text p{
font-size: 2.5rem;
}

.about_image{
width: 280px;
margin-top: -400px;
}

.about_image_Jeka8833{
width: 270px;
height: 270px;
}

/*
CONTACTS
*/

.contact_block{
width: 480px;
height: 500px;
}

.contact_block p{
font-size: 2.3rem;
}

.btn_con a{
font-size: 2.3rem;
}

}

@media screen and (min-width: 1024px) and (max-width: 1600px) {

html{
font-size: 10px;
}

.desc{
height: 100%;
}

.desc_text,
.desc_img{
height: 100%;
align-items: center;
justify-content: center;
}

.desc_block_text p{
width: 80%;
}

.block_work{
width: 60%;
height: 30vw;
}



/*
CONTACTS
*/

.contact_block{
width: 320px;
height: 440px;
}

.contact_block p{
font-size: 1.6rem;
}

.btn_con a{
font-size: 1.6rem;
}

}

@media screen and (min-width: 1600px) and (max-width: 1700px){

  .contact{
  top: 490px;
  }

}

@media screen and (min-width: 1700px){



}

@media screen and (min-width: 1600px) {

html{
font-size: 14px;
}

/*
HEADER
*/

header,
.head_back,
.head{
height: 70px;
}

.head_block,
.head_block1,
.head_block2{
height: 70px;
}

.head_block1{
width: 640px;
}

.fox_icon{
width: 48px;
height: 48px;
}

.icon_git,
.icon_dis,
.icon_tel,
.icon_ema{
width: 36px;
height: 36px;
}

/*
DESCRIPTION
*/
.lie_header{
height: 70px;
}

.desc{
height: 100%;
}

.desc_text{
height: 100%;
align-items: center;
justify-content: center;
}

.desc_img{
height: 100%;
}

.desc_block_text p{
width: 90%;
font-size: 2.3rem;
line-height: 3rem;
}

.desc_img_Jeka8833{
  width: 480px;
  height: 480px;
}

.btn_get,
.btn_get_shadow{
  width: 220px;
  height: 76px;
}

.btn_get:hover{
top: 80px;
}

.btn_get a{
font-size: 2.3rem;
}

/*
SKILLS
*/

.skills .row{
flex-direction: column;
}

.skills_text{
width: 100%;
height: 600px;
font-size: 2.3rem;
}

.diag{
width: 80%;
height: 480px;
top: 50px;
}

.diag_line{
height: 85px;
}

.l_text,
.d_text{
font-size: 2.4rem;
}

.l_text1{
right: -110px;
}

.l_text2{
right: -158px;
}

.l_text3{
right: -132px;
}

.l_text4{
right: -141px;
}

.d_block1{
width: 72px;
height: 264px;
}

.d_block2{
width: 72px;
height: 209px;
}

.d_block3{
width: 72px;
height: 176px;
}

.d_block4{
width: 72px;
height: 88px;
}

.d_block5{
width: 72px;
height: 297px;
}

.d_block1 .d_text{
margin-top: 320px;
}

.d_block2 .d_text{
margin-top: 265px;
}

.d_block3 .d_text{
margin-top: 230px;
}

.d_block4 .d_text{
margin-top: 145px;
}

.d_block5 .d_text{
margin-top: 355px;
}

/*
WORKS
*/

.works .row{
flex-direction: column;
}

.block_work{
width: 80%;
height: 36vw;
}

.text_work{
width: 100%;
}

.text_work p{
font-size: 2.3rem;
}

.btn_see{
margin-top: 40px;
}

.btn_see a{
width: 280px;
height: 96px;
font-size: 2.3rem;
}

/*
ABOUT
*/

.about_text p{
font-size: 2.3rem;
}

.about_image{
width: 400px;
height: 600px;
}

.about_image_Jeka8833{
width: 360px;
height: 360px;
}

.contact_block{
width: 560px;
height: 720px;
}

.contact_block p{
font-size: 2.3rem;
}

.btn_con a{
font-size: 2.3rem;
}

.btn_con{
  width: 200px;
  height: 56px;
}

}
