.about{
position: relative;
display: flex;
flex-direction: column;
width: 100%;
padding: 32px 0px 0px;
box-sizing: border-box;
}

.about .row{
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 10px 32px;
  width: 100%;
}

.about h1{
font-size: 3.2rem;
color: #FFB160;
text-align: center;
}

.about h2{
font-size: 3.1rem;
color: #FFB160;
text-align: center;
}

.about p{
margin: 0;
padding: 10px;
font-size: 1.8rem;
color: #d8dce7;
}

.about h1{
padding: 0;
margin: 0;
}

.about_text{
display: block;
position: relative;
width: 50%;
text-align: justify;
}

.about_image{
display: flex;
position: relative;
justify-content: center;
width: 50%;
box-sizing:border-box;
}

.about_image_Jeka8833{
  display: block;
  position: relative;
  width: 240px;
  height: 240px;
  background-image: url("../images/fox_icon2.jpg");
  background-size: cover;
  background-color: #22262f;
  border: 15px solid #4b4f5b;
  border-radius: 50%;
  box-sizing:border-box;
}
